/* .navbar-container {
    max-width: 1430px;
} */

.container__whoweare {
    padding: 150px 30px;
    min-height: 700px;
    left: -20px;
    max-width: 1300px;
}


.mobile{
    display: none;
}

.desktop{
    display: block;    
}

img{
    width: 100%;
    display: block;
}

.whoweare-header {
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {


    .absolute_background {
        width: 100%; /* Adjust the width to fill the entire screen */
    }

    .hero-diagonal {
        height: 100%;
        width: 100%;
    }

    .hero-diagonal-whoweare {
        height: 100%;
        width: 100%;
    }

    .whoweare-header {
        font-size: 16px;
        /* margin-top: 400px; */
        font-weight: 600;
    }

    .whoweare-text {
        font-size: 14px;
        width: 40%;
        margin-top: 15px;
        color: #fff;
        line-height: 25px;
    }

    .wt-1 {
        width: 45%;
    }

    .wt-2 {
        width: 55%;
    }

    .wt-3 {
        width: 65%;
    }

    .mission_vision-header {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .mission_vision-text {
        font-size: 14px;
        line-height: 30px;
    }

    .why_not-header {
        font-size: 16px;
    }

    .why_not-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .why_not-grid_item-icon {
        height: 120px;
        margin-bottom: 30px;
    }

    .why_not-group_text-content {
        font-size: 14px;
        line-height: 20px;
        margin: 40px 20px 40px 0px;
    }

    .why_not-subtext {
        font-size: 14px;
    }

    .why_not-subtext__big {
        font-size: 16px;
    }

    .container__about_cta {
        padding: 50px 30px;
    }

    .container__about_cta > h2 {
        font-size: 20px;
    }

    .container__about_cta > a {
        font-size: 16px;
    }

    /* .container__footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-details {
        display: grid;
        grid-template-columns: 1fr; 
    } */

    /* .container__footer {
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer-details {
        display: flex;
        flex-direction: row;
    }
    

    .footer-links {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-contact {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-img {
        width: 120px;
    }

    .footer-copyright {
        margin-top: 10px;
        font-size: 12px;
    } */
       
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .hero-diagonal-whoweare {
        height: 100%;
    }

    .whoweare-header {
        font-size: 14px;
        margin-top: 450px;
    }

    .whoweare-text {
        font-size: 12px;
        /* width: 40%; */
        margin-top: 15px;
        color: #fff;
        line-height: 15px;
    }

    .wt-1 {
        width: 60%;
    }

    .wt-2 {
        width: 75%;
    }

    .wt-3 {
        width: 78%;
    }

    .mission_vision-header {
        font-size: 14px;
    }

    .mission_vision-text {
        font-size: 12px;
        line-height: 25px;
    }

    .mission_vision-text__left {
        margin-right: 10px;
    }

    .why_not-group_text {
        background-color: rgba(0, 255, 255, 0.058);
        width: 100%;
        position: relative;
        left: -80px;
        
    }

    .why_not-subtext {
        /* position: relative; */
        /* right: 50px; */
        font-size: 12px;
    }

    .why_not-subtext__big {
        font-size: 12px;
    }

    .why_not-group_text-content {
        font-size: 12px;
    }

    .why_not-grid_item-icon {
        height: 100px;
        margin-bottom: 30px;
    }

    .container__footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-details {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .container__footer {
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer-details {
        display: flex;
        flex-direction: row;
    }
    

    .footer-links {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-contact {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-img {
        width: 120px;
    }

    .footer-copyright {
        margin-top: 10px;
        font-size: 12px;
    }

}


/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
}

.circles li {
    background: #000621 !important;
}

@media screen and (max-width: 480px) {

    .mobile{
        display: block;
    }

    .desktop{
        display: none;    
    }

    section#who-we-are {
        position: relative;
        background-color: #658fb3;
        height: 85%;
    }

    section#mission_vision {
        width: 100%;
        height: 75%;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
    }

    .absolute_background {
        background-image: url('../img/02_About Us/WhoWeAre3.png');
        height: 100%;
        background-size: cover;
        background-position: 0% 50%;
        position: absolute;
        margin-left: auto;
        /* right: -30px; */
        z-index: 0;
        display: block;
        max-width: 100%;
    }

    .container__whoweare {
        padding: 50px 30px;
        min-height: 10px;
        top: -210px;
    }

    .whoweare-header {
        font-size: 14px;
        margin-top: -60px;
        color: #070707;
        margin-bottom: 5px;
    }


    .whoweare-text {
        font-size: 12px;
        width: 105%;
        margin-top: 0px;
        color: #000;
        line-height: 15px;
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 900px) {
    /* .container__whoweare {
        padding: 150px 30px;
        min-height: 1080px;
    } */

    .absolute_background {
        width: 70%;
        height: 100%;
        background-size: cover;
        background-position: 0% 50%;
        position: absolute;
        margin-left: auto;
        right: 0px;
        z-index: 0;
    }
}


.hidden {
    display: none;
}


@media screen and (max-width: 800px) {

    .navbar-link {
        padding: 15px;
        text-align: center;
        font-size: small;
    }
  }
  
  @media screen and (max-width: 900px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #333;
        width: 200px;
        top: 90px;
        right: 15px;
        z-index: 1000;
        padding-bottom: 20px !important;
        border-radius: 10px;
        padding-right: 27px !important;
    }
  
    .navbar-links.active {
        display: flex;
    }
  
    .navbar-link {
        padding: 20px;
        text-align: center;
    }
  
    /* .burger {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-top: 10px;
    } */
  
    .line1, .line2, .line3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        transition: all 0.3s ease;
    }
  
    .change .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .change .line2 {
        opacity: 0;
    }
  
    .change .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
  }


