@media screen and (max-width: 900px) {

    .absolute_background {
        width: 100%; /* Adjust the width to fill the entire screen */
    }

    .hero-diagonal {
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    .hero-diagonal-whoweare {
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    .whoweare-header {
        font-size: 16px;
        margin-top: 15px;
        font-weight: 600;
    }

    .whoweare-text {
        font-size: 14px;
        width: 90%;
        margin-top: 15px;
        color: black;
        font-weight:bold;
        line-height: 25px;
    }

    .mission_vision-header {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .mission_vision-text {
        font-size: 14px;
        line-height: 30px;
    }

    .why_not-header {
        font-size: 16px;
    }

    .why_not-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .why_not-grid_item-icon {
        height: 120px;
        margin-bottom: 30px;
    }

    .why_not-group_text-content {
        font-size: 14px;
        line-height: 20px;
        margin: 40px 20px 40px 0px;
    }

    .why_not-subtext {
        font-size: 14px;
    }

    .why_not-subtext__big {
        font-size: 16px;
    }

    .container__about_cta {
        padding: 50px 30px;
    }

    .container__about_cta > h2 {
        font-size: 20px;
    }

    .container__about_cta > a {
        font-size: 16px;
    }

    /* .container__footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-details {
        display: grid;
        grid-template-columns: 1fr; 
    } */

    /* .container__footer {
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer-details {
        display: flex;
        flex-direction: row;
    }
    

    .footer-links {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-contact {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-img {
        width: 120px;
    }

    .footer-copyright {
        margin-top: 10px;
        font-size: 12px;
    } */
       
}


/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
}
