section#careers-top {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.careers_top_bg {
    background-image: url('../img/careers/Careers HP5.jpg');
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: 0% 50%;
    position: absolute;
    margin-left: auto;
    right: 0;
    z-index: 0;
}

.careers_top_overlay {
    background-image: url('../img/careers/SVG/Careers svg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 0%;
    position: absolute;
    left: 0;
    z-index: 1;
}

#careers-top .careers-title {
    position: absolute;
    top: 300px;
    left: 150px;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
    font-family: 'nunitobold';
}

/* Menu */
#careers_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px;
    gap: 7%
}

#careers_menu div {
    height: 80px;
    width: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

#careers_menu div img {
    width: 100%; /* Set the width of the image to 100% of the parent div */
    height: 100%; /* Set the height of the image to 100% of the parent div */
    object-fit: cover; /* Optional: Maintain aspect ratio and cover the entire area */
}

#careers_menu p {
    font-size: 12px;
    margin: 5px 0 0 0; /* Optional: Add margin to separate image and text */
    text-align: center;
    font-family: 'nunitobold';
}

#careers_menu div a {
    font-family: 'nunitobold';
    font-size: smaller;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    background-color: #37A5CC;
    border: none;
    color: white;
    margin-left: 280px;
    text-align: center;
    cursor: pointer;
}

/* 3rd row */
#careers-3rd {
    position: relative;
    height: 100%;
    overflow: hidden;
}


.careers_3rd_overlay {
    background-image: url('../img/careers/SVG/Careers 3rd svg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 0%;
    position: absolute;
    left: 0;
    z-index: 1;
}

#careers-3rd .careers-3rd-title {
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 2;
    color: black;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
    font-family: 'nunitobold';
    width: 500px;
}

.careers_3rd_bg {
    background-image: url('../img/careers/Careers HP6-1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover; /* Cover the entire area without distortion */
    background-position-x: center; /* Center horizontally */
    background-position-y: center; /* Move the background image to the top */
    position: absolute;
}

/* 4th row */
#careers-4th {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    position: relative;
    height: 400px;
}

#careers-4th .left ,#careers-4th .right {
    height: 100%;
    width: 100%;
    padding: 50px;
}

#careers-4th .right {
    height: 100%;
    width: 100%;
    background-color: #6FA3C6;
    color: white;
}

#careers-4th .left .title, #careers-4th .right .title {
    font-family: 'nunitobold';
    font-size: clamp(1rem, 0.0625rem + 3vw, 1.75rem);
    text-align: center;
    margin-bottom: 10px;
}

#careers-4th .left .content, #careers-4th .right .content {
    font-family: 'nunito';
    font-size: clamp(1rem, 0.0625rem + 3vw, 1.75rem);
    text-align: justify;
}

/* 5th row */
#careers-5th {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    position: relative;
    height: 400px;
}

#careers-5th .left ,#careers-5th .right {
    height: 100%;
    width: 100%;
    padding: 50px;
}

#careers-5th .left {
    height: 100%;
    width: 100%;
    background-color: #6FA3C6;
    color: white;
}

#careers-5th .left .title, #careers-5th .right .title {
    font-family: 'nunitobold';
    font-size: clamp(1rem, 0.0625rem + 3vw, 1.75rem);
    text-align: center;
    margin-bottom: 10px;
}

#careers-5th .left .content, #careers-5th .right .content {
    font-family: 'nunito';
    font-size: clamp(1rem, 0.0625rem + 3vw, 1.75rem);
    text-align: justify;
}

/* 6th row */
#careers-6th {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.careers_6th_overlay {
    background-image: url('../img/careers/SVG/Careers 6th svg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 50%;
    position: absolute;
    left: 0;
    z-index: 1;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir-GrandHeavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#careers-6th .careers-6th-title {
    position: absolute;
    top: 100px;
    right: 10px;
    width: 600px;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, -0.7188rem + 5.5vw, 2.375rem);
    font-family: 'Agrandir', sans-serif;
    font-weight: 800;
}

.careers_6th_bg {
    background-image: url('../img/careers/Careers HP4-1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover; /* Cover the entire area without distortion */
    background-position-x: center; /* Center horizontally */
    background-position-y: top; /* Move the background image to the top */
    position: absolute;
}

/* .careers_3rd_bg {
    background-image: url('../img/careers/Careers HP6-1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position-x: center;
    background-position-y: center; 
    position: absolute;
} */

#careers-6th .careers-6th-buttons {
    position: absolute;
    top: 200px;
    right: 5%;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, -1.3438rem + 7.5vw, 2.875rem);
    font-family: 'agrandir';
    font-weight: 800;
    width: 600px;
    text-align: center; /* Center-align the buttons */

}

#careers-6th .careers-6th-buttons button {
    font-family: 'nunitobold';
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    background-color: #EE2E24;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px auto; 
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
}

#careers-6th .careers-6th-buttons div a {
    font-family: 'nunitobold';
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    background-color: #37A5CC;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* 7th row */
#careers-7th {
    position: relative;
    height: 90%;
    overflow: hidden;
}

#careers-7th div {
    height: 25%;
    position: relative;
    padding: 20px;
}

#careers-7th div .blue {
    position: absolute;
    right: 20%;
    height: 100%;
    width: 20%;
}

#careers-7th div .red {
    position: absolute;
    right: 1%;
    height: 100%;
    width: 20%;
}

#careers-7th div .title {
    position: absolute;
    font-family: 'nunitobold';
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
    top: 50px;
    left: 20%;
    width: 300px;
}

#careers-7th div .content {
    position: absolute;
    top: 30%;
    right: 22%;
    height: 100%;
    width: 13%;
    font-family: 'nunitobold';
    z-index: 2;
    color: white;
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
}

#careers-7th div img {
    height: 300px;
    width: 350px;
}

#careers-7th .image {
    margin-top: 3%;
    margin-left: 10%;
}



/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
}

.circles li {
    background: #000621 !important;
  }
