section#careers-top {
    position: relative;
    height: 80%;
    overflow: hidden;
}

.careers_top_bg {
    background-image: url('../img/careers/Careers HP5.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 50%;
    position: absolute;
    margin-left: auto;
    right: 0;
    z-index: 0;
}

.careers_top_overlay {
    background-image: url('../img/careers/SVG/Careers svg.png');
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 0% 0%;
    position: absolute;
    left: 0;
    z-index: 1;
}

#careers-top .careers-title {
    position: absolute;
    top: 300px;
    left: 150px;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
    font-family: 'nunitobold';
}

/* Menu */
#careers_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px;
    gap: 7%
}

#careers_menu div {
    height: 80px;
    width: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

#careers_menu div img {
    width: 100%;
    /* Set the width of the image to 100% of the parent div */
    height: 100%;
    /* Set the height of the image to 100% of the parent div */
    object-fit: cover;
    /* Optional: Maintain aspect ratio and cover the entire area */
}

#careers_menu p {
    font-size: 12px;
    margin: 5px 0 0 0;
    /* Optional: Add margin to separate image and text */
    text-align: center;
    font-family: 'nunitobold';
}

#careers_menu div a {
    font-family: 'nunitobold';
    font-size: smaller;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    background-color: #37A5CC;
    border: none;
    color: white;
    margin-left: 280px;
    text-align: center;
    cursor: pointer;
}

/* 3rd row */
#careers-3rd {
    position: relative;
    height: 100%;
    overflow: hidden;
}


.careers_3rd_overlay {
    background-image: url('../img/careers/SVG/Careers 3rd svg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 0%;
    position: absolute;
    left: 0;
    z-index: 1;
}

#careers-3rd .careers-3rd-title {
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 2;
    color: black;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
    font-family: 'nunitobold';
    width: 500px;
}

#careers-3rd .careers-4rd-title {
    position: absolute;
    top: 260px;
    left: 150px;
    z-index: 2;
    color: black;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
    font-family: 'nunitobold';
    width: 500px;
}

.careers_3rd_bg {
    background-image: url('../img/careers/Careers HP6-1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    /* Cover the entire area without distortion */
    background-position-x: center;
    /* Center horizontally */
    background-position-y: center;
    /* Move the background image to the top */
    position: absolute;
    display: block;
}

/* 4th row */
#careers-4th {
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    position: relative;
    height: 50%;
}

#careers-4th .left,
#careers-4th .right {
    height: 120%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 75px;
}

#careers-4th .right {
    height: 100%;
    width: 100%;
    /* background-color: #6FA3C6; */
    background-color: rgba(29, 179, 206, 0.8);
    color: white;
}

#careers-4th .title {
    font-family: 'nunitobold';
    /* font-size: clamp(3rem, 0.0625rem + 3vw, 1.75rem); */
    font-size: clamp(1.625rem, 0.0625rem + 5vw, 2.875rem);
    text-align: center;
}

#careers-4th .left .content,
#careers-4th .right .content {
    font-family: 'nunito';
    font-size: clamp(1rem, 0.0625rem + 3vw, 1.75rem);
    text-align: justify;
    padding-top: 20px;
}

/* 5th row */
#careers-5th {
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    position: relative;
    height: 70%;
}

#careers-5th .left,
#careers-5th .right {
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 75px;
}

#careers-5th .left {
    height: 100%;
    width: 100%;
    background-color: #6FA3C6;
    color: white;
}

#careers-5th .left .title {
    font-family: 'nunitobold';
    font-size: clamp(1.625rem, 0.0625rem + 5vw, 2.875rem);
    text-align: center;
    margin-bottom: 10px;
    line-height: 38px;
}

#careers-5th .right .title {
    font-family: 'nunitobold';
    font-size: clamp(1.625rem, 0.0625rem + 5vw, 2.875rem);
    text-align: center;
    margin-bottom: 10px;
    line-height: 38px;
}

#careers-5th .left .content,
#careers-5th .right .content {
    font-family: 'nunito';
    font-size: clamp(1rem, 0.0625rem + 3vw, 1.75rem);
    text-align: justify;
    padding-top: 20px;
}

/* 6th row */
section#careers-6th {
    position: relative;
    height: 100%;
    overflow: hidden;
}


.careers_6th_overlay {
    background-image: url('../img/careers/Shapeyourfuturewithus.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 50%;
    position: absolute;
    left: 0;
    z-index: 1;
    display: block;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir-GrandHeavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#careers-6th .careers-6th-title {
    position: absolute;
    top: 250px;
    right: 10px;
    width: 600px;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, -0.7188rem + 5.5vw, 2.375rem);
    font-family: 'Agrandir', sans-serif;
    font-weight: 800;
}

#careers-6ths .careers-6th-titles {
    position: absolute;
    top: 250px;
    right: 10px;
    width: 600px;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: clamp(1rem, -0.7188rem + 5.5vw, 2.375rem);
    font-family: 'Agrandir', sans-serif;
    font-weight: 800;
}

.careers_6th_bg {
    background-image: url('../img/careers/Shapeyourfuturewithus.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 50%;
    position: absolute;
    margin-left: auto;
    right: 0;
    z-index: 0;
    display: block;
}

/* .careers_3rd_bg {
    background-image: url('../img/careers/Careers HP6-1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position-x: center;
    background-position-y: center; 
    position: absolute;
} */

#careers-6th .careers-6th-buttons {
    position: absolute;
    top: 350px;
    right: 5%;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, -1.3438rem + 7.5vw, 2.875rem);
    font-family: 'agrandir';
    font-weight: 800;
    width: 600px;
    text-align: center;
}

#careers-6ths .careers-6th-buttons {
    position: absolute;
    top: 50px;
    right: 5%;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, -1.3438rem + 7.5vw, 2.875rem);
    font-family: 'agrandir';
    font-weight: 800;
    width: 600px;
    text-align: center;
}

#careers-6th .careers-6th-buttons button {
    font-family: 'nunitobold';
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    background-color: #ed0000;
    border: solid;
    border-width: 2px;
    color: white;
    cursor: pointer;
    margin: 10px auto;
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
}

#careers-6ths .careers-6th-buttonss button {
    font-family: 'nunitobold';
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    background-color: #ed0000;
    border: solid;
    border-width: 2px;
    color: white;
    cursor: pointer;
    margin: 10px auto;
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
}

#careers-6th .careers-6th-buttons button:hover {
    background-color: red;
}

#careers-6ths .careers-6th-buttonss button:hover {
    background-color: red;
}

#careers-6ths .careers-6th-buttons div a {
    font-family: 'nunitobold';
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    background-color: #37A5CC;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

#careers-6th .careers-6th-buttons div a {
    font-family: 'nunitobold';
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    background-color: #37A5CC;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* 7th row */
#careers-7th {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#careers-7th div {
    height: 25%;
    position: relative;
    /* padding: 20px; */
    margin-top: 30px;
}

#careers-7th div .blue {
    position: absolute;
    right: 10%;
    height: 100%;
    width: 35%;
}

#careers-7th div .red {
    position: absolute;
    right: -19%;
    height: 100%;
    width: 30%;
}

#careers-7th div .title {
    position: absolute;
    font-family: 'nunitobold';
    font-size: clamp(2rem, 0.0938rem + 2.5vw, 1.5rem);
    top: 30%;
    left: 15%;
    width: 500px;
}

#careers-7th div .content {
    position: absolute;
    top: 20%;
    right: 20%;
    height: 100%;
    width: 15%;
    font-family: 'nunitobold';
    z-index: 2;
    color: white;
    font-size: clamp(1.66rem, 0.0938rem + 2.5vw, 1.5rem);
}

#careers-7th div img {
    height: 100%;
    width: 100%;
}

#careers-7th .image {
    margin-top: 3%;
    /* margin-left: 10%; */
    display: flex;
    width: 100%;
}



/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255);
    /* scroll thumb and track */
}


.circles li {
    background: #000621 !important;
}


.mat-grid-tile {
    background: lightblue;
}

/* carousel */

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

img {
    width: 100%;
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    border-style: none;
    color: white;
}

.next {
    right: 0;
    /* border-radius: 3px 0 0 3px; */
}

.prev:hover,
.next:hover {
    background-color: transparent
}

.bullets {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.bullet {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.bullet.active {
    background-color: #717171;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 15%;
    font-size: 20px;
    text-align: center;
    height: 100%;
    font-family: 'nunitobold';
}

.grid-item#Rblue {
    background-color: rgba(29, 179, 206, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 15%;
    font-size: 20px;
    text-align: center;
    height: 100%;
    font-family: 'nunitobold';

}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    .hero-diagonal-whoweare {
        height: 100%;
    }

    .whoweare-header {
        font-size: 14px;
        margin-top: 650px;
    }

    .whoweare-text {
        font-size: 12px;
        /* width: 40%; */
        margin-top: 15px;
        color: #fff;
        line-height: 15px;
    }

    .wt-1 {
        width: 60%;
    }

    .wt-2 {
        width: 75%;
    }

    .wt-3 {
        width: 78%;
    }

    .mission_vision-header {
        font-size: 14px;
    }

    .mission_vision-text {
        font-size: 12px;
        line-height: 25px;
    }

    .mission_vision-text__left {
        margin-right: 10px;
    }

    .why_not-group_text {
        background-color: rgba(0, 255, 255, 0.058);
        width: 100%;
        position: relative;
        left: -80px;

    }

    .why_not-subtext {
        /* position: relative; */
        /* right: 50px; */
        font-size: 12px;
    }

    .why_not-subtext__big {
        font-size: 12px;
    }

    .why_not-group_text-content {
        font-size: 12px;
    }

    .why_not-grid_item-icon {
        height: 100px;
        margin-bottom: 30px;
    }

    .container__footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-details {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container__footer {
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer-details {
        display: flex;
        flex-direction: row;
    }


    .footer-links {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-contact {
        margin-top: 20px;
        font-size: 12px;
    }

    .footer-img {
        width: 120px;
    }

    .footer-copyright {
        margin-top: 10px;
        font-size: 12px;
    }

}

@media screen and (max-width: 480px) {
    .careers_top_bg {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 0% 50%;
        position: absolute;
        margin-left: auto;
        right: 0;
        z-index: 0;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #careers-top .careers-title {
        position: absolute;
        top: 299px;
        left: 50px;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        font-family: 'nunitobold';
    }


}

/* Media query for 320px screens */
@media screen and (max-width: 1420px) {
    #careers_menu {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    #careers_menu div {
        scroll-snap-align: start;
    }

    #careers_menu {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        position: relative;
        height: 150px;
        gap: 7%;
        padding-left: 100px;
    }
}

#careers-3rd .careers-3rd-title,
#careers-3rd .careers-4rd-title {
    position: absolute;
    left: 150px;
    z-index: 2;
    color: black;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
    font-family: 'nunitobold';
    width: 500px;
}


@media screen and (max-width: 1320px) {

    #careers-3rd .careers-3rd-title,
    #careers-3rd .careers-4rd-title {
        position: absolute;
        left: 20px;
        z-index: 2;
        color: black;
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        font-family: 'nunitobold';
        width: 200px;
        top: 350px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {

    #careers-3rd .careers-3rd-title,
    #careers-3rd .careers-4rd-title {
        position: absolute;
        left: 20px;
        z-index: 2;
        color: black;
        font-size: clamp(1rem, -1.5rem + 2vw, 3rem);
        font-family: 'nunitobold';
        width: 230px;
        top: -10px;
    }

}

@media screen and (min-width: 478px) {
    section#careers-6th{
        display: block;
    }

    section#careers-6ths {
        display: none 
    }

    .scrollable-divs{
        display: none;
    }

    .scrollable-div{
        display: block;
    }

    .divider{
        display: none;
    }

    #careers-7ths .images{
        display: none;
    }
    

}


@media screen and (max-width: 800px) {
  
    .navbar-link {
        padding: 15px;
        text-align: center;
        font-size: small;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .careers_3rd_overlay {
        display: none;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 0% 0%;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .scrollable-div{
        display: none;
    }

    .careers_top_overlay {
        width: 50%;
        height: 99.3%;
        background-size: cover;
        background-position: 0% 0%;
        position: absolute;
        left: 0;
        z-index: 1;
        display: none;
    }

    #careers-top .careers-title {
        position: absolute;
        top: 140px;
        left: 40px;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        font-family: 'nunitobold';
    }

    section#careers-top {
        position: relative;
        max-height: 35%;
        overflow: hidden;
    }

    #careers_menu div img {
        width: 80%;
        height: 100%;
        object-fit: cover;
    }

    #careers-4th {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax());
        height: 110%;
    }

    #careers-5th {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax());
        height: 140%;
    }

    #careers-3rd .careers-3rd-title,
    #careers-3rd .careers-4rd-title {
        position: absolute;
        left: 10px;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        font-family: 'nunitobold';
        width: 200px;
        top: 100px;
    }

    .divider{
        margin-bottom: 5%;
    }

    #careers_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 150px;
        gap: 7%;
        padding-left: 210px;
    }

    #careers-3rd {
        position: relative;
        height: 35%;
        overflow: hidden;
    }

    #careers-6th .careers-6th-title {
        position: absolute;
        top: 250px;
        left: 50px;
        /* width: 600px; */
        z-index: 2;
        color: black;
        font-size: 12px;
        font-family: 'Agrandir', sans-serif;
        font-weight: 800;
        /* justify-items: center; */
        display: none;
    }

    /* #careers-6th .careers-6th-buttons {
        position: absolute;
        top: 290px;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.3438rem + 7.5vw, 2.875rem);
        font-family: 'agrandir';
        font-weight: 800;
        width: 290px;
        text-align: center;
    } */

    section#careers-6th {
        position: relative;
        height: 50%;
        overflow: hidden;
    }

    section#careers-6ths{
        position: relative;
        height: 50%;
        overflow: hidden;
    }

    .view-all{
        margin-top: 20px;
    }

    #careers-6ths .careers-6th-buttonss {
        /* display: grid; */
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax());
        height: 140%;
    }

    #careers-6ths .careers-6th-buttonss {
        position: absolute;
        top: 50px;
        /* right: -45%; */
        left: 18%;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.3438rem + 7.5vw, 2.875rem);
        font-family: 'agrandir';
        font-weight: 800;
        /* width: 600px; */
        text-align: center;
    }

    #careers-6ths .careers-6th-titles {
        position: absolute;
        top: 20px;
        /* right: -295px; */
        /* width: 600px; */
        left: 4%;
        z-index: 2;
        color: rgb(0, 0, 0);
        font-size: clamp(1rem, -0.7188rem + 5.5vw, 2.375rem);
        font-family: 'Agrandir', sans-serif;
        font-weight: 800;
    }


    #careers-6th .careers-6th-buttons {
        /* position: absolute;
        top: 350px;
        right: 5%;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.3438rem + 7.5vw, 2.875rem);
        font-family: 'agrandir';
        font-weight: 800;
        width: 600px;
        text-align: center; */

        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax());
        height: 140%;
    }

    #careers-6ths .careers-6th-buttonss button {
        font-family: 'nunitobold';
        padding: 10px;
        width: 100px;
        border-radius: 5px;
        background-color: #ed0000;
        border: solid;
        border-width: 2px;
        color: white;
        cursor: pointer;
        margin: 10px auto;
        font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
    }

    #careers-6ths .careers-6th-buttonss div a {
        font-family: 'nunitobold';
        font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 20px;
        background-color: #37A5CC;
        border: none;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    #careers-7ths div .titles {
        position: absolute;
        font-family: 'nunitobold';
        /* top: 20%; */
        left: 20%;
        width: 250px;
        display: block;
        margin-top: 20px;
    }

    #careers-7ths div .contents {
        position: absolute;
        /* top: 160%; */
        right: 8%;
        height: 100%;
        /* width: 105%; */
        font-family: 'nunitobold';
        z-index: 2;
        color: white;
        font-size: 15px;
        display: block;
        margin-top: 58%;
    }

    #careers-7th{
        display: none;
    }

    #careers-7ths{
        display: block;
    }

    .scrollable-divs{
        display: block;
    }
    .scrollable-div{
        display: none;
    }

    /* for carrers7th */
    .slider {
        width: 100%; /* Full width */
        overflow: hidden; /* Hide the overflowing slides */
        position: relative;
    }
    
    .slide-track {
        display: flex;
        width: calc(1000%);
        animation: scroll 50s linear infinite;
        transform: translateX(-100%); /* St
    }
    
    .slide {
        width: calc(100% / 12); /* Width of each slide */
        flex-shrink: 0; /* Prevent shrinking */
    }

    .slide img {
        height: 200px; /* Set a specific height */
        width: auto;   /* Maintain aspect ratio */
        object-fit: cover; /* Cover the entire height while maintaining aspect ratio */
    }
    
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }

    /* left sliders  */

    .sliders {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .slide-tracks {
        display: flex;
        width: calc(200%); /* Double the width to accommodate duplicated slides */
        animation: scroll-right 10s linear infinite; /* Adjust duration for speed */
        transform: translateX(-100%); /* St
    }
    
    .slides {
        width: calc(100% / 12); /* Adjust width based on the number of slides */
        flex-shrink: 0;
    }
    
    .slides img {
        height: 200px; /* Adjust height as needed */
        width: auto;
        object-fit: cover;
    }
    
    @keyframes scroll-right {
        0% { transform: translateX(-100%); }
        90% { transform: translateX(0); }
    }

}

@media screen and (min-width: 480px) and (max-width : 580px) {

    .careers_top_overlay {
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: 0% 0%;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    #careers-top .careers-title {
        position: absolute;
        top: 210px;
        left: 75px;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        font-family: 'nunitobold';
    }

    section#careers-top {
        position: relative;
        height: 50%;
        overflow: hidden;
    }

    #careers-3rd .careers-3rd-title,
    #careers-3rd .careers-4rd-title {
        position: absolute;
        left: 20px;
        z-index: 2;
        color: black;
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        font-family: 'nunitobold';
        width: 200px;
        top: 180px;
    }

    #careers-3rd {
        position: relative;
        height: 60%;
        overflow: hidden;
    }

}


