.industries_hero-header {
  font-size: clamp(0.75rem, -0.0086rem + 3.7931vw, 2.125rem) !important;
}


.new_container__industries {
  display: flex;
}

.new_industries-card {
  flex: 1;
  /* border: 1px solid #c3c3c3; */
  padding: 5%;
  min-width: 300px;
}

.card-content {
  background-color: rgba(255, 255, 255, 0.579);
  /* font-size: clamp(1rem, 1.5vw, 2rem); */
}

.card-header {
  font-size: clamp(0.625rem, 0.1422rem + 2.4138vw, 1.5rem);
}

.card-subheader {
  font-size: clamp(0.625rem, 0.2112rem + 2.069vw, 1.375rem);
}

.card-text {
  font-size: clamp(0.625rem, 0.4181rem + 1.0345vw, 1rem);
}

.card-list li {
  font-size: clamp(0.625rem, 0.4181rem + 1.0345vw, 1rem) !important;

   /*font-size: 12px !important; Adjust the font size as needed */
}



@media screen and (max-width: 520px) {
  .new_container__industries {
    flex-direction: row;
    /* change flex direction to row */
    flex-wrap: wrap;
    /* allow items to wrap to the next row */
  }

  .new_industries-card {
    flex-basis: 50%;
    /* each card takes up 50% of the container width */
    min-width: auto;
    /* remove the minimum width constraint */
  }

  .footer-details {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container__footer {
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .footer-details {
    display: flex;
    flex-direction: row;
  }


  .footer-links {
    margin-top: 20px;
    font-size: 12px;
  }

  .footer-contact {
    margin-top: 20px;
    font-size: 12px;
  }

  .footer-img {
    width: 120px;
  }

  .footer-copyright {
    margin-top: 10px;
    font-size: 12px;
  }
}

  

  /* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 97); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
  overflow-x: hidden;
}