@media screen and (max-width: 1000px){
    .right-con, .left-con {
        height: unset;
        top: unset;
        bottom: 15px;
    }

    #meet {
        height: auto;
    }

    #meet img {
        display: block;
    }

    #meet .meet-bg-left {
        display: none;
    }

    #meet .meet-bg-right {
        display: none;
    }

  
}

@media screen and (max-width: 786px){
    .left-card, .right-card , .rights-card, .lefts-card {
        position: unset;
        left: unset;
        right: unset;
        width: 100%;
    }

    .left-card, .rights-card {
        height: auto;
    }

    .right-card, .lefts-card {
        height: 60%;
        padding-bottom: 30px;
    }

    .item {
        background-position: center -50px;

    }
}

@media screen and (max-width: 500px){
    .item {
        background-position: center -40px;

    }

    .right-card, .lefts-card {
        height: 200%;
    }
}