@media only screen and (max-width: 767px) {
    /* Styles to apply when the screen width is 767 pixels or less (typical mobile size) */
    .tab-text {
      display: none; /* Hide the paragraph */
    }
}

/* Default styles for larger screens */
.tab-content {
    width: 80%;
    margin: 0 auto;
}

.tab-content-accordion {
    width: 100%;
    text-align: left;
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.tab-content-panel {
    display: none; /* Hide panels by default on larger screens */
}

/* Styles for smaller screens (e.g., mobile) */
@media only screen and (max-width: 600px) {
    .tab-content {
        width: 100%; /* Make the content take full width on smaller screens */
    }

    .tab-content-header {
        font-size: 20px; /* Adjust the font size for better readability on smaller screens */
    }

    .tab-content-subheader,
    .tab-content-description {
        font-size: 14px; /* Adjust the font size for better readability on smaller screens */
    }

    .tab-content-accordion {
        display: block; /* Show buttons on smaller screens */
        width: 100%;
        text-align: left; /* Align text to the left for better readability */
        background-color: #f4f4f4; /* Add a background color to differentiate buttons */
        padding: 10px;
        margin-top: 5px;
        cursor: pointer;
    }

    .tab-content-panel {
        padding: 10px;
        border: 1px solid #ddd;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links,
.footer-contact {
    width: 48%; /* Adjust the width based on your design needs */
    margin-bottom: 20px;
}

/* Responsive styles for screen sizes up to 1364px */
@media only screen and (max-width: 1364px) {
    .footer-logo {
        align-self: flex-start; /* Align logo to the left */
    }
}

/* Responsive styles for smaller screens (mobile) */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .footer-logo {
        align-self: flex-start; /* Align logo to the left in mobile view */
    }

    .footer-links,
    .footer-contact {
        width: 100%; /* Full width for smaller screens */
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .footer-logo {
        align-self: flex-start; /* Align logo to the left in mobile view */
        margin-bottom: 30px; /* Adjust margin-bottom for mobile screens */
    }

    .footer-links,
    .footer-contact {
        width: 100%; /* Full width for smaller screens */
    }

    .container__services_hero {
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: flex-start; /* Align the content to the start (top) vertically */
    }

    .services_hero-header {
        text-align: center; /* Center the text within the header */
        margin: 0; /* Remove any default margins */
        font-family: 'attractive';
        font-weight: normal;
        font-size: 20px;
        color: #fff;
        z-index: 2;
    }

    .desktop-svg {
        display: none;
    }

    .mobile-svg {
        display: block;
    }

   
}

/* Display services_hero-header only on normal screens */
@media only screen and (min-width: 769px) {
    .container__services_hero {
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: start; /* Center the content vertically */
    }

    .services_hero-header {
        text-align: center; /* Center the text within the header */
        margin: 0; /* Remove any default margins */
    }

    .desktop-svg {
        display: block;
    }

    .mobile-svg {
        display: none;
    }
}

.animated-rect {
    animation: animateRect 3s forwards;
}

@keyframes animateRect {
    from {
        width: 0;
    }
    to {
        width: 600;
    }
}





