/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 97); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

.container__footer {
  margin-top: 100%;
}

.container__diag#join2{
  display: none;
}

.buttom#submobile{
  display: none;
}

.buttom#submobilecareer {
  display: none;
}

.buttom#submobileconpension {
  display: none;
}


@media screen and (max-width: 520px) {

  .footer-details {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container__footer {
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100%;
  }

  .footer-details {
    display: flex;
    flex-direction: row;
  }

  .footer-links {
    margin-top: 20px;
    font-size: 12px;
  }

  .footer-contact {
    margin-top: 20px;
    font-size: 12px;
  }

  .footer-img {
    width: 120px;
  }

  .footer-copyright {
    margin-top: 10px;
    font-size: 12px;
  }

}


/* Fontsize clamp join us  */
.diag_header#head1 {
  font-size: clamp(1.25rem, -0.6438rem + 3.3445vw, 1.875rem);
}
.diag_header#head2 {
  font-size: clamp(1.25rem, -0.6438rem + 3.3445vw, 1.875rem);
}
.diag_header#head3 {
  font-size: clamp(1.25rem, -0.6438rem + 3.3445vw, 1.875rem);
}
.diag_header#head4 {
  font-size: clamp(1.25rem, -0.6438rem + 3.3445vw, 1.875rem);
}
.diag_subheader__line-1 {
  font-size: clamp(1.25rem, -0.6438rem + 3.3445vw, 1.875rem);
}
.diag_subheader__line-2 {
  font-size: clamp(1.25rem, -0.6438rem + 3.3445vw, 1.875rem);
}
.diag_subheader__line-3 {
  font-size: clamp(1.25rem, -0.6438rem + 3.3445vw, 1.875rem);
}

/* Fontsize clamp culture  */
.diag_subheader__line-1#diag_subhead_1mobile {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_subheader__line-1#diag_subhead_1culture {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-1 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-2 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-3 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-4 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-5 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-6 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}

.diag_text__line-1#diag1 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-2#diag2 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-3#diag3 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-4#diag4 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-5#diag5 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-6#diag6 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}
.diag_text__line-7#diag7 {
  font-size: clamp(0.625rem, 0.4526rem + 0.8621vw, 0.9375rem);
}


@media screen and (max-width: 778px){

  .container__diag#join4{
    display: none;
  }

  .diag-background {
    /* Set a background image */
    background-image:  url("../img/The Team/Us.jpg");
    /* Set background size to cover the entire element */
    background-size: cover;
    /* Set background position to center */
    background-position: center;
    background-repeat: no-repeat;
}

  .diag-background {
    /* Adjust background properties for smaller screens if necessary */
    background-size: contain ; /* or any other suitable size */
}
  .diag-background__why_join_us { /*join us */
    background-image: url("../img/The Team/Us.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:20vw;
    margin-bottom: 15vw;
    clip-path: inset(15% 0 13% 0);

  }

  .diag-background__culture {  /*culture */
    background-image: url("../img/The Team/Culture.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:20vw;
    margin-bottom: 15vw;
    clip-path: inset(15% 0 13% 0);
  }


  .diag-background__career {  /*career */
    background-image: url("../img/The Team/Dev.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:20vw;
    margin-bottom: 15vw;
    clip-path: inset(15% 0 13% 0);
  }


  .diag-background__compensation {  /*career */
    background-image: url("../img/The Team/Compensation.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:20vw;
    margin-bottom: 15vw;
    clip-path: inset(15% 0 13% 0);
  }

  .container__diag#join1{ /*join us */
    display: none;
  }

  .container__diag#join1{ /*join us */
    display: none;
  }

  .container__diag#join2{ /*join us */
    display: block;
  }

  .buttom#submobile {
    /*culture */
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 20vw;
  }

  .buttom#submobilecareer {
    /*culture */
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 60vw;
  }

  .buttom#submobileconpension {
    /*culture */
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 60vw;
  }

  .container__diag#parentdiag{
    display: none;
  }


  .button {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px; /* Add padding around the content */
}

.diag_subheader#diag_subhead_1mobile{
    line-height: 1.4; /* Adjust line height for better readability */
    margin: 0; /* Remove default margin */
    text-align: center;
    color: black;
}

  .diag_subheader#diag_subhead_1culture{
    line-height: 1.4; /* Adjust line height for better readability */
    margin: 0; /* Remove default margin */
    text-align: center;
    color: black;
  }
  .diag_subheader__line-1#diag_subhead_1mobile {
    margin-left: 0px;
    --b: .2em; /* border width */
    --c: 3em; /* corner size */
    --r: 0em; /* corner rounding */
    position: relative;
    margin: 1em auto;
    border: solid var(--b) transparent;
    padding: 3em;
    max-width: 40em;
    
    &::before {
      position: absolute;
      z-index: -1;
      inset: calc(-1*var(--b));
      border: inherit;
      border-radius: var(--r);
      background: linear-gradient(orange, deeppink, rgb(90, 88, 90)) border-box;
      --corner: 
        conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
          0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
      --inner: conic-gradient(red 0 0) padding-box;
      -webkit-mask: var(--corner), var(--inner);
      -webkit-mask-composite: source-out;
              mask: var(--corner) subtract, var(--inner);
      content: ''
    }
  }

  .cuturespace {
    margin-bottom: 25vw;
  }

  .diag_subheader__line-1#diag_subhead_1culture {
    max-width: 90%; 
    margin-left: 0px;
    --b: .2em; /* border width */
    --c: 3em; /* corner size */
    --r: 0em; /* corner rounding */
    position: relative;
    margin: 1em auto;
    border: solid var(--b) transparent;
    padding: 0em;
    
    &::before {
      position: absolute;
      z-index: -1;
      inset: calc(-1*var(--b));
      border: inherit;
      border-radius: var(--r);
      background: linear-gradient(orange, deeppink, rgb(90, 88, 90)) border-box;
      --corner: 
        conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
          0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
      --inner: conic-gradient(red 0 0) padding-box;
      -webkit-mask: var(--corner), var(--inner);
      -webkit-mask-composite: source-out;
              mask: var(--corner) subtract, var(--inner);
      content: ''
    }
  }

  .diag_text_container {
    flex-direction: column;
    align-items: flex-start;
}

}

@media screen and (max-width : 580px)and (min-width : 450px){
  
  .buttom#submobilecareer {
    /*culture */
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 70vw;
  }

  .buttom#submobileconpension {
    /*culture */
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 80vw;
  }

  .diag-background__career {  /*career */
    background-image: url("../img/The Team/Dev.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:30vw;
    margin-bottom: 15vw;
    clip-path: inset(15% 0 13% 0);
  }

  .diag-background__compensation  {  /*career */
    background-image: url("../img/The Team/Compensation.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:30vw;
    margin-bottom: 15vw;
    clip-path: inset(15% 0 13% 0);
  }
}

@media screen and (max-width : 450px){

  .diag-background__culture {  /*culture */
    background-image: url("../img/The Team/Culture.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:40vw;
    margin-bottom:25vw;
    clip-path: inset(15% 0 13% 0);
  }

  .diag-background__career {  /*culture */
    background-image: url("../img/The Team/Dev.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:40vw;
    margin-bottom:25vw;
    clip-path: inset(15% 0 13% 0);
  }

  .diag-background__compensation  {  /*culture */
    background-image: url("../img/The Team/Compensation.jpg");
    margin-left: auto;
    right: 0;
    width: 100%;
    margin-top:40vw;
    margin-bottom:25vw;
    clip-path: inset(15% 0 13% 0);
  }

  section#why-join-us{
    margin-top: 1vw;
  }
  section#culture{
    margin-top: 1vw;
  }
  section#career{
    margin-top: 1vw;
  }
  .cuturespace {
    margin-bottom: 20vw;
  }

  .buttom#submobilecareer {
    /*culture */
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 100vw;
  }

  .buttom#submobileconpension {
    /*culture */
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 100vw;
  }

}
