/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
}


section {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#event img {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: none;
}

#event .event-title {
    position: absolute;
    bottom: 50px;
    left: clamp(0.625rem, 0.0845rem + 2.7027vw, 3.125rem);;
    color: white;
    z-index: 3;
    font-size: clamp(0.875rem, 0.1453rem + 3.6486vw, 4.25rem);
    font-family: Roboto, sans-serif;
    font-weight: bolder;
}


#event .event-bg-left {
    background-image: url('../img/vasquez-event/page 1/left.jpg');
    width: 60%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 150%;
    position: absolute;
    margin-left: auto;
    left: 0;
    z-index: 1;
    /* clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%); */
    /* clip-path: polygon(0 0, 93% 0, 70% 100%, 0% 100%); */
    clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
}


#event .event-bg-left div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 65%);
    z-index: 2;
}

#event .event-bg-right {
    background-image: url('../img/vasquez-event/page 1/right.JPG');
    width: 60%;
    height: 100%;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 30%;
    position: absolute;
    margin-left: auto;
    right: 0;
    z-index: 0;
}

/* page 2 */
#event-p2 {
    background-color: #424457;
    position: relative;
}


#event-p2 .event-title {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 72px;
    font-weight:bolder;
    color: white;
    font-family: 'nunitoregular';
}

/* // card main */
.card {
    position: absolute;
    height: 70%;
    width: 40%;
    top: 20%;
    left: 50px;
}

.card-mobile {
    display: none;
}

.card .event-m-img {
    background-image: url('../img/vasquez-event/page 2/2024/Team Building 2024.jpg');
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
}

.card-top .event-top-img {
    background-image: url('../img/vasquez-event/page 2/2024/Team Building 2024.jpg');
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
}


.card h4 {
    color: #379CC1;
    /* font-size: 26px; */
    font-size: clamp(0.6875rem, 0.4848rem + 1.0135vw, 1.625rem);
}

.card p {
    color: white;
    font-size: 16px;
}

.card .read {
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}

.card-top {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 5%;
    right: 0;
    display: none;
}

/* // card Left top */
.card-lt {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 5%;
    right: 0;
    display: flex;
}

.card-lt .event-lt-img {
    background-image: url('../img/vasquez-event/page 2/2024/goverment.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

.h4-2 {
    display: none;
}

.card-context h4 {
    color: #379CC1;
    /* font-size: 24px; */
    font-size: clamp(0.6875rem, 0.4848rem + 1.0135vw, 1.625rem);
}

.card-context p {
    color: white;
    font-size: 16px;
}

.card-context .read {
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}

/* // card left mid */
.card-md {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 35%;
    right: 0;
    display: flex;
}

.card-md .event-md-img {
    background-image: url('../img/vasquez-event/page 2/2024/Leadership Training 2024.png');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}


/* .card-md .event-top-img {
    background-image: url('../img/vasquez-event/page 2/2024/goverment.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
} */


/* // card left bot */
.card-bot {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 65%;
    right: 0;
    display: flex;
}

.event-bot-img {
    background-image: url('../img/vasquez-event/page 2/2024/EBP 2024.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

/* page 3 */
#event-p3 {
    position: relative;
}

#event-p3 .event-title {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 72px;
    font-weight:bolder;
    color: #424457;
}

#event-p3 .card p {
    color: #424457;
}

#event-p3 .card .read {
    color: #424457;
}

#event-p3 .card-context h4 {
    color: #379CC1;
    width: 350px;
}

#event-p3 .card-context p {
    color: #424457;
}

#event-p3 .card-context .read {
    color: #424457;
}

#event-p3 .card .event-m-img {
    background-image: url('../img/vasquez-event/page 2/2023/Town Hall 2023.jpg');
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
}

#event-p3 .card-lt .event-lt-img {
    background-image: url('../img/vasquez-event/page 2/2023/Leadership Training 2023.png');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}


#event-p3 .card-md .event-md-img {
    background-image: url('../img/vasquez-event/page 2/2023/Moonlit Magic 2023.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

#event-p3 .card-bot .event-bot-img {
    /* background-image: url('../img/vasquez-event/page 2/2023/Performance Feedback 2023.JPG'); */
    background-image: url('../img/vasquez-event/page 2/2023/Govt Training 2023.JPG');
    
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

/* page 4 */
#event-p4 {
    position: relative;
}

/* #event-p4 .event-title {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 72px;
    font-weight:bolder;
    color: #424457;
} */

/* #event-p4 .card p {
    color: #424457;
}

#event-p4 .card .read {
    color: #424457;
} */

#event-p4 .card-context h4 {
    color: #379CC1;
    width: 350px;
}

#event-p4 .card-context p {
    color: #424457;
}

#event-p4 .card-context .read {
    color: #424457;
}

/* #event-p4 .card .event-m-img {
    background-image: url('../img/vasquez-event/page 2/2023/Town Hall 2023.jpg');
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
} */

#event-p4 .card-lt .event-lt-img {
    /* background-image: url('../img/vasquez-event/page 2/2023/EBP 2023.JPG'); */
    background-image: url('../img/vasquez-event/page 2/2023/Performance Feedback 2023.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}


#event-p4 .card-md .event-md-img {
    background-image: url('../img/vasquez-event/page 2/2023/EBP 2023.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

#event-p4 .card-bot .event-bot-img {
    background-image: url('../img/vasquez-event/page 2/2023/Team Building 2023.png');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

/* page 5 */
#event-p5 {
    position: relative;
    background-color: #424457;
}

#event-p5 .event-title {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 72px;
    font-weight:bolder;
    color: white;
}

#event-p5 .card p {
    color: white;
}

#event-p5 .card .read {
    color: white;
}

#event-p5 .card-context h4 {
    color: #379CC1;
    width: 350px;
}

#event-p5 .card-context p {
    color: white;
}

#event-p5 .card-context .read {
    color: white;
}

#event-p5 .card .event-m-img {
    background-image: url('../img/vasquez-event/page 2/2022/Onto the Mission 2022.jpg');
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

#event-p5 .card-lt .event-lt-img {
    background-image: url('../img/vasquez-event/page 2/2022/Christmas Around the World 2022.jpg');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}


#event-p5 .card-md .event-md-img {
    background-image: url('../img/vasquez-event/page 2/2022/Govt Training 2022.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

#event-p5 .card-bot .event-bot-img {
    background-image: url('../img/vasquez-event/page 2/2022/Team Building 2022.JPG');
    width: 235px;
    height: 50%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {

    .navbar-link {
        padding: 15px;
        text-align: center;
        font-size: small;
    }
  }
  
  @media screen and (max-width: 900px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #333;
        width: 200px;
        top: 90px;
        right: 15px;
        z-index: 1000;
        padding-bottom: 20px !important;
        border-radius: 10px;
        padding-right: 27px !important;
    }
  
    .navbar-links.active {
        display: flex;
    }
  
    .navbar-link {
        padding: 20px;
        text-align: center;
    }
  
    /* .burger {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-top: 10px;
    } */
  
    .line1, .line2, .line3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        transition: all 0.3s ease;
    }
  
    .change .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .change .line2 {
        opacity: 0;
    }
  
    .change .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
  }

  .card-contexts p {
    color: white;
    font-family: 'roboto';
    font-size: 50px;
    width: 80%;
  }

  @media screen and (max-width: 700px) {
    /* 2024 */
    .card-top {
        display: block !important;
        top: 7% !important;
    }

    .card-lt {
        display: block;
        top: 29% !important;
    }
    .card-md {
        display: block;
        top: 50% !important;
    }
    .card-bot {
        display: block;
        top: 73% !important;
    }

    .card-top .event-top-img {
        width: 60% !important;
    }

    .event-lt-img { 
        width: 60% !important;
    }

    .event-md-img {
        width: 60% !important;
    }

    .event-bot-img {
        width: 60% !important;
    }

    #event-p2 {
        height: calc(100% + 800px) !important;
    }

    /* 2023  1st*/
    #event-p3 .card-lt {
        top: 13% !important;
    }

    #event-p3 .card-md {
        top: 43% !important;
    }

    #event-p3 .card-bot {
        top: 73% !important;
    }

    #event-p3 {
        height: calc(100% + 300px) !important;
    }

    /* 2023  2st*/
    #event-p4 .card-lt {
        top: 2% !important;
    }

    #event-p4 .card-md {
        top: 36% !important;
    }

    #event-p4 .card-bot {
        top: 68% !important;
    }

    #event-p4 {
        height: calc(100% + 300px) !important;
    }

    /* 2022*/
    #event-p5 .card-lt {
        top: 8% !important;
    }

    #event-p5 .card-md {
        top: 38% !important;
    }

    #event-p5 .card-bot {
        top: 68% !important;
    }

    #event-p5 {
        height: calc(100% + 300px) !important;
    }

   .event-title {
    left: 20px !important;
    font-size: 50px !important;
   }

 }

  @media screen and (max-width: 1000px) {
   
    /* #event-p2 {
        height: 150%;
    } */

    #event-p2 {
        height: calc(100% + 500px);
    }
    
    .card {
        display: none;
    }

    .card-top {
        display: flex;
        right: unset;
        top: 10%;
        left: 5%;
        width: 150%;
    }

    .card-lt {
        right: unset;
        top: 30%;
        left: 5%;
        width: 150%;
    }
    .card-md {
        right: unset;
        top: 50%;
        left: 5%;
        width: 150%;
    }
    .card-bot {
        right: unset;
        top: 70%;
        left: 5%;
        width: 150%;
    }
   
    .event-top-img {
        height: 200px !important;
        width: 230px !important;
        background-position: center;
        background-size: cover;
        margin-right: 10px;
    }
    .event-lt-img {
        height: 200px !important;
    }
    .event-md-img {
        height: 200px !important;
    }
    .event-bot-img {
        height: 200px !important;
    }

    .h4-2 {
        display: block;
    }

    .h4-1 {
        display: none;
    }

    /* 2023 1st*/
    #event-p3 .card-lt {
        right: unset;
        top: 13%;
        left: 5%;
        width: 150%;
    }
    #event-p3 .card-md {
        right: unset;
        top: 42%;
        left: 5%;
        width: 150%;
    }
    #event-p3 .card-bot {
        right: unset;
        top: 71%;
        left: 5%;
        width: 150%;
    }

    /* 2023 2st*/
    #event-p4 .card-lt {
        right: unset;
        top: 13%;
        left: 5%;
        width: 150%;
    }
    #event-p4 .card-md {
        right: unset;
        top: 42%;
        left: 5%;
        width: 150%;
    }
    #event-p4 .card-bot {
        right: unset;
        top: 71%;
        left: 5%;
        width: 150%;
    }

    /* 2022*/
    #event-p5 .card-lt {
        right: unset;
        top: 13%;
        left: 5%;
        width: 150%;
    }
    #event-p5 .card-md {
        right: unset;
        top: 42%;
        left: 5%;
        width: 150%;
    }
    #event-p5 .card-bot {
        right: unset;
        top: 71%;
        left: 5%;
        width: 150%;
    }
  }

  @media screen and (max-width: 1186px) {
    #event {
        height: auto;
    }
   
    #event img {
        display: block;
    }

    #event .event-bg-left,#event .event-bg-right {
        display: none;
    }

  }

  @media screen and (min-width: 320px) and (max-width: 479px) {
    #event .event-title {
        font-size: 32px !important;
        bottom: 10px;
    }
    .event-title {
        font-size: 32px !important;
        width: 150px;
    }
  }

  @media screen and (max-width: 390px) {
    .burger {
        display: block !important ;
        cursor: pointer !important ;
        margin-left: auto !important ;
        margin-top: 40px !important ;
        margin-right: 15px !important ;
    }
  
    .line1, .line2, .line3 {
        width: 25px !important ;
        height: 3px !important ;
        background-color: #fff !important ;
        margin: 5px !important ;
        transition: all 0.3s ease !important ;
    }

    .navbar-container {
        padding: 30px 10px !important ;
        display: flex !important ;
        flex-direction: row !important ;
        align-self: center !important ;
        margin: auto !important ;
        transition: 0.4s !important ;
    }

    #event .event-title {
        font-size: 25px !important;
        bottom: 10px;
    }
    
}

