@media screen and (max-width: 800px) {
  
    .navbar-link {
        padding: 15px;
        text-align: center;
        font-size: small;
    }

    .container__footer {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .footer-details {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .container__footer {
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .footer-details {
        display: flex;
        flex-direction: row;
    }
    
    
    .footer-links {
        margin-top: 20px;
        font-size: 12px;
    }
    
    .footer-contact {
        margin-top: 20px;
        font-size: 12px;
    }
    
    .footer-img {
        width: 120px;
    }
    
    .footer-copyright {
        margin-top: 10px;
        font-size: 12px;
    }
    
}
/* Responsive layout */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .grid-item {
        padding-top: 80%;
    }

    .grid-item img {
        top: -30%;
    }
}

/* @media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
} */

/* For mobile view  ======================================================================= */
/* @media screen and (max-width: 362px){
    #leader-mobiless{
        display: block;
    }
} */
@media screen and (max-width: 400px){
    #mobile {
        margin-top: 10px !important;
    }

    .v5nd-3 {
        top: 520px !important;
    }

    .v5nd-2 {
        top: 290px !important;
    }

    .v5nd-overlay, #vasquez-5nd-mobile {
        display: none !important;
    }
}
@media screen and (max-width: 480px){
    /* #leader-mobiless{
        display: block;
    } */
    #desktop {
        display: none;
    }

    #mobile {   
        display: block;
    }

    .vasquez_top_bg {
        display: none;
    }

    .vasquez_top_overlay{
        display: none;
    }
/* 
    #vasquez-top {
        height: 40%;
    }
     */
    /* .vasquez-2nd {
       display: none;
    } */

    .v3nd-people {
        width: 180%;
        height: 70%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        background-position: -60%;
        z-index: 1;
        left: -165px;
        top: 140px;
    }

    /* .v3nd-context {
        font-size: 14px;
        width: 90%;
        left: 5%;
        top: 3%;
    } */

    #vasquez-4nd{
        display: none;
    }

    .parents {
        display: flex;
        gap: 0px;
        margin-top: 20px;
    
    }
    
    .parents div {
        height: 500px;
        width: 100%;
        /* clip-path: polygon(0 0, 65% 0, 100% 100%, 35% 100%); */
        /* border: 1px solid gray; */
        /* clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%); */
        position: relative;
        z-index: 1;
    }
    
    .parents div a {
        position: absolute;
        bottom: 20px;
        right: 140px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        z-index: 4;
    }
    
    .parents .acc a {
        right: 70px;
    }

    /* .parents .bop a {
        right: 15px;
    }
     */
    .parents .tax {
        background-image: url('../img/vasquez-life/page 4/Tax.jpg');
        background-size: cover;
        background-position: 45%;
        display: block;
        width: 100%;
        height: 300px;
    }

    .parents .aud {
        background-image: url('../img/vasquez-life/page 4/Audit.jpg');
        background-size: cover;
        background-position: 45%;
        display: block;
        width: 100%;
        height: 255px;
    }
    
    .parents .acc {
        background-image: url('../img/vasquez-life/page 4/Accounting.jpg');
        background-size: cover;
        background-position: 45%;
        display: block;
        width: 100%;
        height: 300px;
    }
    
    .parents .bop {
        background-image: url('../img/vasquez-life/page 4/Business Operations.jpg');
        background-size: cover;
        background-position: 45%;
        display: block;
        width: 100%;
        height: 400px;
    }

    #vasquez-4nd-mobile{
        position: relative;
        height: 45%;
        overflow: hidden;
        display: block;
    }

    #vasquez-4nd-mobileaud{
        position: relative;
        height: 40%;
        overflow: hidden;
        display: block;

    }

    #vasquez-4nd-mobileacc {
        position: relative;
        height: 45%;
        overflow: hidden;
        display: block;

    }

    #vasquez-4nd-mobilebop{
        position: relative;
        height: 67%;
        overflow: hidden;
        display: block;

    }

    .parents .bop a {
        left: 40%;
        border-style: solid;
        width: 100%;
        padding-left: 20px;
        background-color: rgb(163, 48, 48);
        border-radius: 10px;
        font-size: 20px;
    }

    .parents .acc a {
        left: 45%;
        border-style: solid;
        width: 100%;
        padding-left: 20px;
        background-color: rgb(163, 48, 48);
        border-radius: 10px;
        font-size: 20px;
    }

    #vasquez-5nd-mobile {
        background-image: url('../img/vasquez-life/page 5/page 5 bg.jpg');
        width: 139%;
        height: 40%;
        background-size: cover;
        position: relative;
        background-position: 100px;
        z-index: 1;
        display: block;
        background-repeat: no-repeat;
        left: -140px;
        bottom: 20px;
    }

    #vasquez-5nd{
        display: none;
    }

    .v5nd-1 {
        position: absolute;
        top: 5px;
        left: 30px;
        width: 90%;
        z-index: 3;
    }

    .v5nd-1 .context {
        position: absolute;
        top: 49px;
        right: 10px;
        padding: 40px;
        color: black;
        font-size: 20px;
        border-radius: 30px;
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #37A5CC);
    }

    .v5nd-1 .title {
        width: 70%;
        padding: 20px;
        border-radius: 30px;
        background-color: #37A5CC;
        color: white;
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
    }

    .v5nd-2 {
        position: absolute;
        top: 300px;
        left: 30px;
        width: 90%;
        z-index: 3;
    }

    .v5nd-2 .context {
        position: absolute;
        top: 49px;
        right: 10px;
        padding: 40px;
        color: black;
        font-size: 20px;
        border-radius: 30px;
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #37A5CC);
    }

    .v5nd-2 .title {
        width: 90%;
        padding: 20px;
        border-radius: 30px;
        background-color: #37A5CC;
        color: white;
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
    }

    .v5nd-3 {
        position: absolute;
        top: 570px;
        left: 30px;
        width: 90%;
        z-index: 3;
    }

    .v5nd-3 .context {
        position: absolute;
        top: 49px;
        right: 10px;
        padding: 40px;
        color: black;
        font-size: 20px;
        border-radius: 30px;
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #37A5CC);
    }

    .v5nd-3 .title {
        width: 90%;
        padding: 20px;
        border-radius: 30px;
        background-color: #37A5CC;
        color: white;
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
    }
    /* 3nd page */
    .vasquez-6nd{
        height: 120%;
    }

    .v4nd-titles {
        font-size: clamp(2.125rem, -0.2188rem + 7.5vw, 4rem);
        font-family: 'nunitobold';
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
        display: block;
    }

    /* .v2nd-title {
        font-size: clamp(2.125rem, -0.2188rem + 7.5vw, 4rem);
        font-family: Monospace ;
        font-weight: bold;
        color: #414f55;
        font-size: 20px;
        margin-bottom: 25px;
        border-style: solid;
        text-align: center;
        background-color:  #99c6d4;
    } */

    .grid-item {
        border-radius: 10px;
    }

    #vasquez-3nd {
        width: 100%;
        height: 65%;
        background-size: cover;
        position: relative;
    }

    .parents .tax .v4nd-overlay {
        height: 100%;
    }

    .parents .acc .v4nd-overlay {
        height: 100%;
    }

    .parents .bop .v4nd-overlay {
        height: 100%;
    }

    /* .parents .acc a {
        left: 120px;
    } */

    .parents .aud a {
        /* left: 150px; */
        left: 45%;
        border-style: solid;
        width: 100%;
        padding-left: 20px;
        background-color: rgb(163, 48, 48);
        border-radius: 10px;
        font-size: 20px;
    }

    /* #vasquez-top .vasquez-title {
        position: absolute;
        top: 180px;
        left: 20px;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        font-family: 'nunitobold';
    } */

    .leader {
        top: -30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        padding: 20px;
        /* background-color: #f4f4f4; */
        grid-template-rows: 125px 125px 125px;
        height: 60%;
    }

    .box {
        background-color: #99c6d4;
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 10px;
    }
}

/* added 11/02/2024 */
@media screen and (max-width: 1000px) {
    #vasquez-top {
        height: auto;
    }

    #vasquez-top img {
        display: block;
    }

    .vasquez_top_bg {
        display: none;
    }

    .vasquez-2nd {
        height: auto;
        padding-bottom: 5%;
    }

    .v3nd-people {
        display: none;
        height: auto;
    }

    .parent div {
        clip-path: unset;
    }

    .parent div a {
        font-size: 16px;
    }

    .parent {
        overflow: auto;
    }
}

@media screen and (max-width: 1546px) {
    .v3nd-people {
        position: absolute;
        left: 10%;
        bottom: 0px;
        height:100%;
    }
}

@media screen and (max-width: 1111px) {
    #vasquez-5nd .title {
        font-size: 14px;
    }

    #vasquez-5nd .context {
        font-size: 14px;
    }
}

@media screen and (max-width: 649px) {
    .v5nd-1, .v5nd-2, .v5nd-3 {
        width: 60%;
    }

    .v5nd-1 {
        left: 10%;
    }
    .v5nd-2 {
        left: 25%;
    }
    .v5nd-3 {
        left: 40%;
    }
}

@media screen and (max-width: 604px) {
    .v3nd-context {
        width: clamp(6.25rem, -21.722rem + 139.8601vw, 31.25rem);
    }
}

@media only screen and (max-width: 926px) {
    .grid-item img {
        position: absolute !important;
        height: auto !important;
        transform: translateX(-50%) !important;
        object-fit: cover !important;
    } 

    #vasquez-top .vasquez-title {
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        right: 59%;
        z-index: 2;
        color: white;
        font-size: clamp(1rem, 0.3514rem + 3.2432vw, 4rem);
        font-family: Roboto, sans-serif;
        font-weight: bolder;
    }

    #mobile {
        display: block;
        width: 80%;
        font-size: 15px;
    }

    .vasquez-2nd {
        height: auto;
        padding-bottom: 5%;
        background-color: #273d6d;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-top: 40px;
        margin-right: 15px;
    }

    .navbar-container {
        padding: 30px 10px;
        display: flex;
        flex-direction: row;
        align-self: center;
        margin: auto;
        transition: 0.4s;
    }

    .v3nd-people {
        width: 160%;
        height: 70%;
        top: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        background-position: -60%;
        z-index: 1;
        left: -250px;
        /* top: 140px; */
        display: block;
    }

    #vasquez-3nd {
        width: 100%;
        height: 90%;
        background-size: cover;
        position: relative;
    }

    #vasquez-3nd p {
        position: absolute;
        top: 40%;
        left: 30%;
        font-style: italic;
    }

    .parents .tax a {
        left: 39%;
        border-style: unset;
        width: 0%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 40px;
        justify-items: center;
        top: 55%;
    }

    #vasquez-4nd-mobile {
        position: relative;
        height: 37%;
        overflow: hidden;
        display: block;
    }

    .parents .tax {
        background-size: cover;
        background-position: 60%;
        display: block;
        width: 100%;
        height: 290px;
        margin: 10px;
    }

    .parents div {
        height: 500px;
        width: 100%;
        position: relative;
        z-index: 1;
        border-radius: 20px;
    }

    .parents .aud {
        background-size: cover;
        background-position: 45%;
        display: block;
        width: 100%;
        height: 300px;
        margin: 10px;
    }

    .parents div {
        height: 300px;
        width: 100%;
        position: relative;
        z-index: 1;
        border-radius: 20px;
    }

    .parents .aud a {
        left: 35%;
        border-style: unset;
        width: 0%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 40px;
        background-color: unset !important;
        top: 55%;
    }

    .parents .acc {
        background-size: cover;
        background-position: 45%;
        display: block;
        width: 100%;
        height: 300px;
        margin: 10px;
    }

    .parents .acc a {
        left: 24%;
        border-style: unset;
        width: 0%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 40px;
        background-color: unset !important;
        top: 55%;
    }

    #vasquez-4nd-mobileacc {
        position: relative;
        height: 40%;
        overflow: hidden;
        display: block;
    }

    .parents .bop {
        background-size: cover;
        background-position: 45%;
        display: block;
        width: 100%;
        height: 300px;
        margin: 10px;
    }

    .parents .bop a {
        left: 15%;
        border-style: unset;
        width: 100%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 30px;
        background-color: unset !important;
        top: 65%;
    }

    #vasquez-4nd-mobilebop {
        position: relative;
        height: 45%;
        overflow: hidden;
        display: block;
    }

    .v5nd-2 {
        left: 40px;
    }

    .v5nd-3 {
        left: 40px;
    }

    .v5nd-2 .title {
        width: 90%;
        padding: 20px;
        border-radius: 30px;
        background-color: #37A5CC;
        color: white;
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
        position: relative;
        top: -30px;
    }

    .v5nd-2 .context {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 40px;
        color: black;
        font-size: 20px;
        border-radius: 30px;
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #37A5CC);
    }

    .v5nd-3 .title {
        width: 90%;
        padding: 20px;
        border-radius: 30px;
        background-color: #37A5CC;
        color: white;
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
        position: relative;
        top: -40px;
    }

    .v5nd-3 .context {
        position: absolute;
        top: 49px;
        right: 10px;
        padding: 40px;
        color: black;
        font-size: 20px;
        border-radius: 30px;
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #37A5CC);
        position: relative;
        top: -60px;
    }

    #mobile {
        display: block;
        width: 92%;
        font-size: 15px;
    }

    #mobile.vasquez-6nd {
        height: 110% !important;
    }

}

@media only screen and (max-width: 844px) {
    #vasquez-5nd-mobile {
        width: 139%;
        height: 40%;
        background-size: cover;
        position: relative;
        background-position: 100px;
        z-index: 1;
        display: block;
        background-repeat: no-repeat;
        left: -140px;
        bottom: 30px;
        top: 10px;
    }

    .vasquez-6nd {
        height: 100%;
    }

    #vasquez-3nd p {
        position: absolute;
        top: 45%;
        left: 30%;
        font-style: italic;
    }

    #mobile.v3nd-context {
        display: block;
        width: 80% !important;
        font-size: 15px !important;
        margin-top: 20px;
    }

    .vasquez-6nd {
        height: 100% !important;
    }

    #mobile {
        margin-top: 15px;
    }

}

@media only screen and (max-width: 812px) {
    #mobile.v3nd-context {
        display: block;
        width: 80%;
        font-size: 12px;
        margin-top: 20px;
    }

    .parents .tax a {
        left: 36%;
        border-style: unset;
        width: 0%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 40px;
        justify-items: center;
        top: 55%;
    }

    .parents .aud a {
        left: 30%;
        border-style: unset;
        width: 0%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 40px;
        background-color: unset !important;
        top: 55%;
    }

    .parents .acc a {
        left: 15%;
        border-style: unset;
        width: 0%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 40px;
        background-color: unset !important;
        top: 55%;
    }

    .parents .bop a {
        left: 7%;
        border-style: unset;
        width: 100%;
        padding-left: 20px;
        border-radius: 10px;
        font-size: 30px;
        background-color: unset !important;
        top: 65%;
    }

    #mobile {
        margin-top: 30px;
    }

    .vasquez-6nd {
        height: 110% !important;
    }
}
