/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
}

section {
    position: relative;
    height: calc(100% + 80px);
    overflow: hidden;
}

.vasquez_top_bg {
    background-image: url('../img/vasquez-life/1st page.jpg');
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: 0% 50%;
    position: absolute;
    margin-left: auto;
    left: 0;
    z-index: 0;
}

.vasquez_top_overlay {
    background-image: url('../img/vasquez-life/svg/1st page.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0% 0%;
    position: absolute;
    z-index: 1;
}

#vasquez-top .vasquez-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 2;
    color: white;
    font-size: clamp(1rem, 0.3514rem + 3.2432vw, 4rem);
    font-family: Roboto,sans-serif;
    font-weight: bolder;
}

#vasquez-top img {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: none;
}

/* 2nd page */
.vasquez-2nd {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.v2nd-title {
    font-size: clamp(2.125rem, -0.2188rem + 7.5vw, 4rem);
    font-family: 'nunitobold';
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #4AADD9;
    margin-bottom: 25px;
}


/* Image CSS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Adjust gap between items as needed */
}

.grid-item {
    overflow: hidden;
    position: relative;
    padding-top: 55%; /* Adjust this value to get the desired aspect ratio */
    border-radius: 5px;
}

.grid-item img {
    position: absolute;
    top: -45%; /* Adjust this value to cut more or less from the top */
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
    object-fit: cover;
}

/* 3nd page */
#vasquez-3nd {
    background-image: url('../img/vasquez-life/page 3/page 3 bg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

.v3nd-context {
    position: absolute;
    font-weight: 400;
    /* font-size: 20px; */
    font-size: clamp(0.875rem, 0.7264rem + 0.7432vw, 1.5625rem);
    /* left: 10%; */
    /* left: clamp(0.625rem, -1.6723rem + 11.4865vw, 11.25rem); */
    left: 5%;
    top: 15%;
    /* width: 30%; */
    /* width: 540px; */
    width: 43%;
    text-align: justify;
}

.v3nd-context strong {
    color: #3DA5CA;
    font-size: 26px;
}

#vasquez-3nd p {
    position: absolute;
    bottom: 20%;    
    left: 20%;
    font-style: italic;
}

.v3nd-people {
    background-image: url('../img/vasquez-life/page 3/page 3 persons.png');
    width: 100%;
    height: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    background-position: 45%;
    z-index: 1;
}

/* 4nd page */
.v4nd-title {
    font-size: clamp(2.125rem, -0.2188rem + 7.5vw, 4rem);
    font-family: 'nunitobold';
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.v4nd-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 200px;
    background-color: rgb(0 0 0 / 48%);
    z-index: 2;
}

.v4nd-overlay:hover, .tax .v4nd-overlay:hover, .acc .v4nd-overlay:hover {
    background-color: rgba(0, 0, 0, 0);
}

.tax .v4nd-overlay {
    background-color: rgb(0 189 255 / 43%);
}

.acc .v4nd-overlay {
    background-color: rgb(0 189 255 / 43%);
}

.parent {
    display: flex;
    gap: 0px;
    margin-top: 20px;

}

.parent div {
    height: 500px;
    width: 100%;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    position: relative;
    z-index: 1;
}

 .parent div a {
    position: absolute;
    bottom: 200px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    z-index: 4;
    width: 100%;
    text-align: center;
    align-self: center;
}

.parent .tax {
    background-image: url('../img/vasquez-life/page 4/Tax.jpg');
    background-size:cover;
    background-position: 45%;
}

.parent .aud {
    background-image: url('../img/vasquez-life/page 4/Audit.jpg');
    background-size:cover;
    background-position: 45%;
}

.parent .acc {
    background-image: url('../img/vasquez-life/page 4/Accounting.jpg');
    background-size:cover;
    background-position: 45%;
}

.parent .bop {
    background-image: url('../img/vasquez-life/page 4/Business Operations.jpg');
    background-size:cover;
    background-position: 45%;
}

/* 3nd page */
#vasquez-5nd {
    background-image: url('../img/vasquez-life/page 5/page 5 bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    background-position: 100px;
    z-index: 1;
}

#vasquez-5nd{
    display: block;
}

#vasquez-5nd-mobile{
    display: none;
}

#mobile{
    display: none;
}

.v5nd-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 48%);
    z-index: 2;
}

.v5nd-1 {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 40%;
    z-index: 3;
}

.v5nd-1 .title {
    width: 60%;
    padding: 15px;
    border-radius: 30px;
    background-color: #37A5CC;
    color: white;
    font-size: 26px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.v5nd-1 .context {
    position: absolute;
    top: 45px;
    right: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #37A5CC);
}


.v5nd-2 {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 40%;
    z-index: 3;
}

.v5nd-2 .title {
    width: 60%;
    padding: 15px;
    border-radius: 30px;
    background-color: #EE2E24;
    color: white;
    font-size: 26px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.v5nd-2 .context {
    position: absolute;
    top: 45px;
    right: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #EE2E24);
}


.v5nd-3 {
    position: absolute;
    top: 70%;
    left: 55%;
    width: 40%;
    z-index: 3;
}

.v5nd-3 .title {
    width: 60%;
    padding: 15px;
    border-radius: 30px;
    background-color: #37A5CC;
    color: white;
    font-size: 26px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.v5nd-3 .context {
    position: absolute;
    top: 45px;
    right: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #37A5CC);
}


/* Footer css ============================================================================= */


/* for navbar mobile view ======================================================================= */

/* .navbar-container {
    max-width: 1430px;
} */


img {
    width: 100%;
    display: block;
}

#mobile {
    display: none;
}

.vasquez_top_bg {
    display: block;
}

#vasquez-4nd{
    display: block;
    margin-left: 50px;  
    margin-right: 50px;
}

#vasquez-4nd-mobile{
    display: none;
}
#vasquez-4nd-mobileaud{
    display: none;
}
#vasquez-4nd-mobileacc{
    display: none;
}
#vasquez-4nd-mobilebop{
    display: none;
}


.leader{
    display: none;
}

#leader-mobiless{
    display: none;
}





