/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
}


section {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#advantage .advantage-title {
    position: absolute;
    bottom: 50px;
    left: clamp(0.625rem, 0.0845rem + 2.7027vw, 3.125rem);
    /* font-size: 66px; */
    font-size: clamp(1rem, 0.2162rem + 3.9189vw, 4.625rem);
    color: white;
    z-index: 3;
    width: clamp(6.25rem, 0.8446rem + 27.027vw, 31.25rem);
    font-family: Roboto, sans-serif;
    font-weight: bolder;
}

#advantage img {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
}


#advantage .advantage-bg-left {
    background-image: url('../img/vasquez-advantage/page 1/left-img.jpg');
    width: 60%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 150%;
    position: absolute;
    margin-left: auto;
    left: 0;
    z-index: 1;
    /* clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%); */
    clip-path: polygon(0 0, 93% 0, 70% 100%, 0% 100%);
}


#advantage .advantage-bg-left div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 195, 255, 0.537);
    z-index: 2;
}

#advantage .advantage-bg-right {
    background-image: url('../img/vasquez-advantage/page 1/right-img.jpg');
    width: 60%;
    height: 100%;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 30%;
    position: absolute;
    margin-left: auto;
    right: 0;
    z-index: 0;
}

.advantage_top_overlay {
    background-image: url('../img/vasquez-advantage/page 2/bg.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}

/* Page 2 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 20px;
    height: 100%;
}

.grid-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -50px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;  
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    align-content: center;
}

.overlay p {
    font-size: clamp(0.875rem, -0.0625rem + 3vw, 1.625rem);
    text-decoration: none; /* No underline by default */
    transition: text-decoration 0.3s ease; /* Smooth transition */
}

.overlay p:hover {
    text-decoration: underline; /* Add underline on hover */
  }

.text-item {
    padding: 20px;
    background-color: #fff;
    color: #333;
    font-size: clamp(0.6875rem, 0.4063rem + 0.9vw, 1.25rem);
    text-align: justify;
}

/* Responsive Design for Mobile View */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .image-item img {
        height: auto;
    }
}

/* video Player */
.video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Set width as desired */
    max-width: 700px; /* Optional: Limit the maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #000; /* Optional: Video player background */
}

.control-buttons {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.icon-btn {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    margin-left: 5px;
}

.icon-btn i {
    font-size: 1em;
    color: #333;
}

.icon-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Optional: Hide the video container when closed */
.hidden {
    display: none;
}

/* page 3 */
/* #advantage-p3 {
    padding-top: 25px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr repeat(8, 30px) 1fr;
    align-items: center;
    justify-items: center;
}

#advantage-p3 input {
    z-index: 1;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 11;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 4;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    margin-top: 250px;
}

#carousel .item h2 {
    position: absolute;
    width: 100%;
    z-index: 10;
    color: white;
    font-size: 18px;
    text-align: center;
    bottom: 50%;
}

#carousel .item div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #5faabbb6;
}

#carousel:hover .item div {
    background-color: #5faabb00;
}

div.item {
    border: 2px solid white;
    position: absolute;
    width: 700px;
    height: 400px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-700px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item {
    background-size: cover;
    background-position: 0% 100%;
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url('../img/vasquez-advantage/page 3/By fostering career advancement in a healthy working environment.JPG');
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url('../img/vasquez-advantage/page 3/By prioritizing employee wellbeing.jpg');
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url('../img/vasquez-advantage/page 3/By providing opportunities to work in the United States.png');
}

div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url('../img/vasquez-advantage/page 3/Through compassionate and mindful leadership.jpg');
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

div.item {
    filter: blur(2px);
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
    --position: 4;
}

input:nth-of-type(1):checked~main#carousel div.item:nth-of-type(1) {
    filter: none;
}

input:nth-of-type(2):checked~main#carousel div.item:nth-of-type(2) {
    filter: none;
}

input:nth-of-type(3):checked~main#carousel div.item:nth-of-type(3) {
    filter: none;
}

input:nth-of-type(4):checked~main#carousel div.item:nth-of-type(4) {
    filter: none;
}

#advantage-p3 h1 {
    position: absolute;
    font-size: 32px;
    top: 100px;
    width: 450px;
    text-align: center;
    color: #3DA5CA;
}

.btn-prev-next {
    position: absolute;
    justify-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
}

.btn-prev-next button {
    padding: 15px;
    background-color: #d9dddf;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn-prev-next button:hover {
    background-color: #0a6c8f;
}

#advantage-p3 #play {
    position: absolute;
    bottom: 25%;
    cursor: pointer;
    border: 1px solid gray;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(206, 204, 210, 0.779);
    color: rgb(74, 72, 72)
} */




/* new css */

  .containers {
    position: relative;
    width: 320px;
    margin: 10px auto 0 auto;
    perspective: 1000px;
  }

  .containers h1 {
    text-align: center;
    color: #3DA5CA;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 400px;
    height: 287px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px #5faabbb6;
    display: flex;
    color: white;
  }

  .carousel__face:hover {
    box-shadow:inset 0 0 0 2000px #0f1a1d3a;
    color: white;
  }
  
  span {
    margin: auto;
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1.375rem);
    text-align: center;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("../img/vasquez-advantage/page 3/By fostering career advancement in a healthy working environment.JPG");
    transform: rotateY(  0deg) translateZ(280px); }
  .carousel__face:nth-child(2) { 
    background-image: url("../img/vasquez-advantage/page 3/By prioritizing employee wellbeing.jpg");
      transform: rotateY( 90deg) translateZ(280px); }
  .carousel__face:nth-child(3) {
    background-image: url("../img/vasquez-advantage/page 3/By providing opportunities to work in the United States.png");
    transform: rotateY( 180deg) translateZ(280px); }
  .carousel__face:nth-child(4) {
    background-image: url("../img/vasquez-advantage/page 3/Through compassionate and mindful leadership.jpg");
    transform: rotateY(270deg) translateZ(280px); }
  /* .carousel__face:nth-child(5) { 
    background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(320deg) translateZ(430px); } */
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

  @media screen and (max-width: 1000px) {
    #advantage {
        height: auto;
    }
  }
  