/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 97); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

/* For Firefox */
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(95, 95, 97) rgb(255, 255, 255); /* scroll thumb and track */
}


section {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#proud .quotes {
    position: absolute;
    bottom: 30%;
    left: 50px;
    /* font-size: 200px; */
    font-size: clamp(1.5rem, -1.5541rem + 15.2703vw, 15.625rem);
    font-weight: bold;
    color: white;
    z-index: 3;
}

#proud img {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: none;
}

#proud .proud-title {
    position: absolute;
    bottom: 20%;
    left: 50px;
    /* font-size: 46px; */
    font-size: clamp(0.75rem, -0.0878rem + 4.1892vw, 4.625rem);
    font-weight: bold;
    color: white;
    z-index: 3;
    width: 150px;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
}


#proud .proud-bg-left {
    background-image: url('../img/vasquez-proud/page 1/left.jpg');
    width: 60%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 150%;
    position: absolute;
    margin-left: auto;
    left: 0;
    z-index: 1;
    /* clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%); */
    clip-path: polygon(0 0, 93% 0, 70% 100%, 0% 100%);
}


#proud .proud-bg-left div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 65%);
    z-index: 2;
}

#proud .proud-bg-right {
    background-image: url('../img/vasquez-proud/page 1/right.jpg');
    width: 60%;
    height: 100%;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 30%;
    position: absolute;
    margin-left: auto;
    right: 0;
    z-index: 0;
}

.proud_top_overlay {
    background-image: url('../img/vasquez-proud/page 2/bg.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}

/* Page 2 */
#proud-p2 {
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr repeat(8, 30px) 1fr;
    align-items: center;
    justify-items: center;
}

#proud-p2 input {
    margin-top: 50px;
    z-index: 1;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 12;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 8;
    --middle: 4;
    --position: 1;
    pointer-events: none;
    margin-top: 100px;
}

div.item {
    border: 2px solid white;
    position: absolute;
    width: 300px;
    height: 400px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item {
    background-size: cover;
    background-position: 0% 100%;
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url('../img/vasquez-proud/page 2/Tere.JPG');
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url('../img/vasquez-proud/page 2/Lori.JPG');
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url('../img/vasquez-proud/page 2/Jerick.jpg');
}

div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url('../img/vasquez-proud/page 2/Aryana.JPG');
}

div.item:nth-of-type(5) {
    --offset: 5;
    background-image: url('../img/vasquez-proud/page 2/Kenneth.JPG');
}

div.item:nth-of-type(6) {
    --offset: 6;
    background-image: url('../img/vasquez-proud/page 2/Jud.JPG');
}

div.item:nth-of-type(7) {
    --offset: 7;
    background-image: url('../img/vasquez-proud/page 2/Mai.JPG');
}

div.item:nth-of-type(8) {
    --offset: 8;
    background-image: url('../img/vasquez-proud/page 2/Paul.jpg');
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

div.item {
    filter: blur(2px);
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
    --position: 5;
}

input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}

input:nth-of-type(6):checked~main#carousel {
    --position: 6;
}

input:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}

input:nth-of-type(7):checked~main#carousel {
    --position: 7;
}

input:nth-of-type(8) {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
}

input:nth-of-type(8):checked~main#carousel {
    --position: 8;
}

input:nth-of-type(1):checked~main#carousel div.item:nth-of-type(1) {
    filter: none;
}

input:nth-of-type(2):checked~main#carousel div.item:nth-of-type(2) {
    filter: none;
}

input:nth-of-type(3):checked~main#carousel div.item:nth-of-type(3) {
    filter: none;
}

input:nth-of-type(4):checked~main#carousel div.item:nth-of-type(4) {
    filter: none;
}

input:nth-of-type(5):checked~main#carousel div.item:nth-of-type(5) {
    filter: none;
}

input:nth-of-type(6):checked~main#carousel div.item:nth-of-type(6) {
    filter: none;
}

input:nth-of-type(7):checked~main#carousel div.item:nth-of-type(7) {
    filter: none;
}

input:nth-of-type(8):checked~main#carousel div.item:nth-of-type(8) {
    filter: none;
}

#carousel .item h2 {
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 10;
    color: white;
    font-size: 24px;
    text-align: center;
}

#carousel .item div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    color: rgba(0, 0, 0, 0.834);
}

/* Page 3 */

#proud-p3 .p3-title {
    position: absolute;
    /* height: 100px; */
    height: clamp(2.5rem, 1.4189rem + 5.4054vw, 7.5rem);
    left: 0;
    /* font-size: 62px; */
    font-size: clamp(1rem, 0.2162rem + 3.9189vw, 4.625rem);
    background-color: #37A5CC;
    text-align: center;
    align-items: center;
    color: white;
    padding: 10px;
    padding-right: 50px;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
}

.p3-card {
    position: absolute;
    width: 250px;
    height: 370px;
    top: 150px;
    left: 100px;
}

.p3-img {
    background-image: url('../img/vasquez-proud/page 3/emp1.jpg');
    width: 100%;
    height: 80%;
    background-size: cover;
}

.p3-name {
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    align-items: center;
    background-color: #EE2E24;
    color: white;
    font-size: large;
    font-weight: bold;
}

.p3-context {
    position: absolute;
    top: 150px;
    right: 15px;
    height: 65%;
    width: 70%;
    font-size: clamp(0.875rem, 0.7399rem + 0.6757vw, 1.5rem);
}

.p3-context p {
    /* font-size: larger; */
    text-align: justify;
}

.p3-context .p1 {
    margin-bottom: 30px;
}

.p3-context .p2 {
    margin-bottom: 30px;
}

.p3-context p strong {
    /* padding-left: 10px; */
    padding-right: 10px;
    border-radius: 3px;
    background-color: rgba(135, 207, 235, 0.687);
}

.btn-prev-next {
    position: absolute;
    justify-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
}

.btn-prev-next button {
    padding: 15px;
    background-color: #d9dddf;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn-prev-next button:hover {
    background-color: #0a6c8f;
}

#play {
    position: absolute;
    bottom: 25%;
    cursor: pointer;
    border: 1px solid gray;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(206, 204, 210, 0.779);
    color: rgb(74, 72, 72)
}

/* Video Player */
/* video Player */
.video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Set width as desired */
    max-width: 700px; /* Optional: Limit the maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #000; /* Optional: Video player background */
}

.control-buttons {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.icon-btn {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    margin-left: 5px;
}

.icon-btn i {
    font-size: 1em;
    color: #333;
}

.icon-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Optional: Hide the video container when closed */
.hidden {
    display: none;
}

.p3-context {
    padding-top: 30px;
}

/* 
.p3-context .p3 {
    padding: 5px;
    border-radius: 15px;
    width: fit-content;
    background-color: skyblue;
} */

@media screen and (max-width: 1000px) {
    #proud {
        height: auto;
    }

    #proud img {
        display: block;
    }

    .proud-bg-left, .proud-bg-right {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .p3-context {
        width: 60%;
    }
}

@media screen and (max-width: 917px) {
    .p3-context {
        width: 50%;
    }
}

@media screen and (max-width: 741px) {
    .p3-context {
        width: 45%;
    }

    .p3-card {
        position: absolute;
        margin: 10%;
        width: 40%;
        height: 200px;
        top: 10px;
    }

    .p3-context {
        position: absolute;
        top: unset;
        right: unset;
        height: unset;
        width: 100%;
        padding: 10px;
        bottom: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #play {
        bottom: initial;
    }

    #proud .proud-title {
        bottom: 10%;
        left: 15px;
        font-size: 20px;
    }

    #proud .quotes {
        bottom: 20%;
        left: 15px;
    }
}

